.group-title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 16px;
}

.group-header {
  padding: 0px 16px;
}

.flag-container{
  height: 24px;
  width: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.grid-team {
  display: flex;
  width: 15px;
  margin: 0px 5px;
  justify-content: center;
  font-weight: bold;
}

.list-team {
  display: flex;
  width: 50px;
  margin: 0px 20px;
  justify-content: center;
  font-weight: bold;
}
