.container {
  height: 64px !important;
  width: 100%;
  overflow-y: hidden;
  background-color: linear-gradient(
    135deg,
    rgba(120,120,120,0.4),
    rgba(120,120,120,0.2),
  );
}

.nav-button {
  background: transparent;
  color: white;
  margin: 0px 10px;
}

.home {
  cursor: pointer;
}

.active {
  height: 3px;
  width: 30px;
  margin: 0px auto;
  border-radius: 2px;
  background: #ffd740;
}
