<div class="container">
  <!-- <app-bracket-country imageSource="argentina"></app-bracket-country>
  <app-bracket-country imageSource="usa"></app-bracket-country>
  <app-bracket-country imageSource="england"></app-bracket-country>
  <app-bracket-country imageSource="germany"></app-bracket-country>
  <app-bracket-country imageSource="spain"></app-bracket-country>
  <app-bracket-country imageSource="netherlands"></app-bracket-country>
  <app-bracket-country imageSource="portugal"></app-bracket-country> -->
</div>
