.footer-container {
  height: 100px;
  width: 100%;
  padding: 0px 20px;
  color: white;
  background-color: rgba(50, 0, 0, 0.4);
}

.fixed-width {
  width: 300px;
}

img {
  height: 28px !important;
  width: 28px !important;
  filter: invert();
}

.info-container {
  font-size: 14px;
}
