<div
  class="frosted-f10 footer-container"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div class="sm-container fixed-width" fxLayout="row" fxLayoutGap="20px">
    <p matTooltip="GitHub: Talha Norat">
      <a href="https://github.com/talha-norat">
        <img src="assets/images/github.png" alt="" />
      </a>
    </p>
    <p matTooltip="LinkedIn: Talha Norat">
      <a href="https://www.linkedin.com/in/talha-norat-0b94591a3/">
        <img src="assets/images/linkedin.png" alt="" />
      </a>
    </p>
    <p matTooltip="Angular Framework">
      <a href="https://angular.io/">
        <img src="assets/images/angular.png" alt="" />
      </a>
    </p>
    <p matTooltip="World Cup API">
      <a href="https://worldcupjson.net/">
        <img src="assets/images/api.png" alt="" />
      </a>
    </p>
  </div>
  <strong>World Cup Web Client</strong>
  <div
    fxLayout="column"
    fxLayoutGap="5px"
    fxLayoutAlign="center end"
    class="info-container fixed-width"
  >
    <span>Created By: <strong>Talha Norat</strong></span>
    <span>Email: <strong>talha_norat1996@hotmail.com</strong></span>
    <span
      >API:
      <a href="https://worldcupjson.net/" style="color: black"
        ><strong>https://worldcupjson.net/</strong></a
      ></span
    >
  </div>
</div>
